<h2>Lista de Tarefas</h2>

<div id="resultado">
	<%= render :partial => 'lista_tarefa', :object => @tarefas %>
</div>

<a id="nova-tarefa" href="#myModal" role="button" class="btn" data-toggle="modal" data-url="<%= new_projeto_tarefa_path(@projeto) %>">Nova tarefa</a>
